/*
 * Custom CSS
 */

body {
  background-color: #0d0818 !important;
}

/* Border around page  */
.page-wrapper {
  margin-left: 10%; 
  margin-right: 10%;  
  padding: 20px;
  margin-top: 20px;
}

/* Navbar site title */
.bg-custom {
  background-color: #4716b7; /* Example color: light purple */
  padding: 5px 10px; /* Add some padding */
  border-radius: 25px !important;
}

/* Navbar background color  */
.navbar,
.carousel,
.dropdown-menu,
.btn-secondary {
  background-color: #0d0818 !important;
}

/* Adjust the spacing on the logo */
.navbar-brand {
    margin-left: -12px;
}
/* Change the text color of navbar links to white */
.navbar-nav .nav-link  {
  color: white;
}

/* Custom styles for dropdown items */
.navbar .dropdown-menu .dropdown-item {
    color: white !important; /* Change dropdown item text color to white */
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: #a020f0 !important; /* Bright purple color on hover */
    background-color: transparent !important; /* Keep the background the same */
}

.navbar-nav .bi {
  margin-right: 8px; /* Adds spacing between icon and text */
  /* Additional styles (color, size, etc.) can be added here */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 50%;
  transform: translateY(-75%);
  bottom: initial;
}

.carousel-title {
  text-shadow: 2px 8px 3px rgba(0, 0, 0, 0.5); /* x-offset, y-offset, blur-radius, color */
  font-weight: bolder;
  transform-style: preserve-3d;
}

/* Center align the text within the three columns below the carousel */
.projects .col-lg-3,
.projects .col-lg-6 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.projects .col-lg-3 p,
.projects .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Container bg color */
.container.projects {
  color: white;
}

/* rtl:end:ignore */

/* CSS for desktop */
.column-dividers .col-lg-3:not(:first-child),
.column-dividers .col-lg-6:not(:first-child) {
  border-left: 1px solid #4716b7;
  /* Light grey border */
}

.column-dividers .col-lg-3:not(:last-child),
.column-dividers .col-lg-6:not(:last-child) {
  border-right: 1px solid #4716b7;
}

/* Shout out to all my Skeletors */
@keyframes glow {
  0%, 100% {
      box-shadow: 0 0 5px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
  }
  50% {
      box-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
  }
}
.modal-content {
  border: 2px solid #ff69b4; /* Pink border */
  animation: glow 1s infinite alternate; /* Apply the glow animation */
}

.modal-caption {
  text-align: center;
  padding: 10px;
  background-color: #0d0818;
  color: white;
}

.skeletor-link {
  color: white; /* White color */
  text-decoration: none; /* Removes underline */
}

/* Define the pulsing animation */
@keyframes pulse {
  0%, 100% {
      text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
  }
  50% {
      text-shadow: 0 0 15px #f5b6d6, 0 0 30px #f5b6d6, 0 0 45px #f5b6d6;
  }
}

/* Apply the pulsing effect on hover */
.skeletor-link:hover {
  color: #ff69b4; /* Bright pink color on hover */
  animation: pulse 1s infinite; /* Apply the pulse animation */
}

/* Media query for mobile devices */
@media (max-width: 1000px) {
  .column-dividers .col-lg-3,
  .column-dividers .col-lg-6 {
    border-left: none !important; /* forcefully remove left border for mobile */
    border-right: none !important; /* forcefully remove right border for mobile */
    border-bottom: 1px solid #4716b7; /* add horizontal bottom border */
    padding-bottom: 1rem; /* add some padding at the bottom */
  }

  .column-dividers .col-lg-3:last-child,
  .column-dividers .col-lg-6:last-child {
    border-bottom: none; /* remove bottom border from the last element */
  }
}